<form [formGroup]="formularioProducto">
  <div class="campo">
    <label for="id" class="text">Id:</label>
    <input type="number" formControlName="id" placeholder="id " class="input">
  </div>

  <div class="campo">
    <label for="title" class="text">Nombre:</label>
    <input type="text" formControlName="title" placeholder="nombre" class="input">
  </div>

  <div class="campo">
    <label for="price" class="text">Precio:</label>
    <input type="number" formControlName="price" placeholder="precio" class="input">
  </div>

  <div class="campo">
    <label for="description" class="text">Descripción:</label>
    <input type="text" formControlName="description" placeholder="descripción" class="input">
  </div>

  <div class="campo">
    <label for="category" class="text">Categoría:</label>
    <input type="text" formControlName="category" placeholder="categoría" class="input">
  </div>

  <div class="campo">
    <label for="image" class="text">URL de la imagen:</label>
    <input type="text" formControlName="image" placeholder="URL" class="input">
  </div>
    <label class="text" *ngIf="this.formularioProducto.invalid" color="light" fill="solid">Error en formulario</label>

  <ion-button (click)="crear()" [disabled]="formularioProducto.invalid" class="botonSubmit" color="light" fill="solid" expand="block">
    Crear
  </ion-button>
</form>
