<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>
   <div class="perfil-container">
      <img [src]="logo" alt="Perfil" class="perfil" />
    </div>
 <h2> Productos Quemados</h2>
    <div class="product-grid">
      <div class="product-card" *ngFor="let producto of productosQuemados">
        <img [src]="producto.image" alt="{{producto.title}}">
        <h3>{{ producto.title }}</h3>
        <p>{{ producto.description }}</p>
        <p><strong>${{ producto.price }}</strong></p>
        <ion-button (click)="agregarAlCarrito(producto)" color="success">Agregar al carrito</ion-button>
      </div>
    </div>

<app-lista-productos-component [variableEntradaPadre]="listaObjetos"></app-lista-productos-component>

</ion-content>
