<div class="container-main">

    <div class="perfil-container">
      <img [src]="logo" alt="Perfil" class="perfil" />
    </div>

    <h4 class="nombreAplicacion">{{ nombreAplicacion }}</h4>

    <form [formGroup]="formulario" (ngSubmit)="crearNuevoProducto()">
      <div class="campo">
        <label for="input" class="text">Id:</label>
        <input type="text" formControlName="id" placeholder="Id......" name="input" class="input">
        <label class="error-label" *ngIf="this.formulario.get('id')?.touched && this.formulario.get('id')?.invalid">ID no valido</label>
      </div>

      <div class="campo">
        <label for="input" class="text">Nombre:</label>
        <input type="text" formControlName="title" placeholder="Nombre......" name="input" class="input">
        <label class="error-label" *ngIf="this.formulario.get('title')?.touched && this.formulario.get('title')?.invalid">Nombre no valido</label>
      </div>

      <div class="campo">
        <label for="input" class="text">Precio:</label>
        <input type="text" formControlName="price" placeholder="Precio......" name="input" class="input">
        <label class="error-label" *ngIf="this.formulario.get('price')?.touched && this.formulario.get('price')?.invalid">Precio no valido</label>
      </div>

      <div class="campo">
        <label for="input" class="text">Descripcion:</label>
        <input type="text" formControlName="description" placeholder="Descripcion......" name="input" class="input">
        <label class="error-label" *ngIf="this.formulario.get('description')?.touched && this.formulario.get('description')?.invalid">Descripcion no valida</label>
      </div>

      <div class="campo">
        <label for="input" class="text">Categoria:</label>
        <input type="text" formControlName="category" placeholder="Categoria......" name="input" class="input">
        <label class="error-label" *ngIf="this.formulario.get('category')?.touched && this.formulario.get('category')?.invalid">Categoria no valida</label>
      </div>

      <div class="campo">
        <label for="input" class="text">Img:</label>
        <input type="text" formControlName="image" placeholder="Imagen...." name="input" class="input">
        <label class="error-label" *ngIf="this.formulario.get('image')?.touched && this.formulario.get('image')?.invalid">URL de la imagen no valida</label>
      </div>

      <div class="campo">
        <label for="input" class="text">Promedio de la reseña:</label>
        <input type="text" formControlName="rate" placeholder="Prom. Reseña...." name="input" class="input">
        <label class="error-label" *ngIf="this.formulario.get('rate')?.touched && this.formulario.get('rate')?.invalid">Reseñas no valido</label>
      </div>

      <div class="campo">
        <label for="input" class="text">Cantidad de reseñas:</label>
        <input type="text" formControlName="count" placeholder="Cantidad reseñas...." name="input" class="input">
        <label class="error-label" *ngIf="this.formulario.get('count')?.touched && this.formulario.get('count')?.invalid">Cantidad reseñas no valida</label>
      </div>

      <ion-button type="submit" class="botonSubmit" color="light" fill="solid" expand="block">Crear</ion-button>
    </form>
  </div>