<div class="" *ngIf="activo; else ContenidoElse">
  mostrar Ccontenido
</div>
<ng-template #ContenidoElse>
  <!-- No mostrar Contenido *********** -->
</ng-template>
<ion-button (click)="cambiarValor()">
  <!-- Activar -->
</ion-button>
<br>
<div class="" *ngFor="let fruta of listaProductos; let i = index">
 <!-- {{i}} {{fruta}} -->
</div>
<div class="product-exposition">
<div class="product-card" *ngFor="let producto of listaObjetos">
  <img [src]="producto.image" alt="{{producto.title}}" class="product-image" />
  <div class="product-details">
    <h2 class="product-title">{{ producto.title }}</h2>
    <p class="product-category">{{ producto.category }}</p>
    <p class="product-description">{{ producto.description }}</p>
    <p class="product-price">\${{ producto.price }}</p>
  </div>
</div>
</div>
