<div class="card-container">
  <div *ngFor="let producto of listaProducto" class="card">

    <img [src]="producto.image" alt="Camiseta deportiva" class="card-image" />

    <div class="card-content">
      <h2 class="card-title">{{producto.title}}</h2>
      <p class="card-description">
        {{producto.description}}
      </p>
      <p class="card-category">{{producto.category}}</p>
      <p class="card-price">${{producto.price}}</p>
    </div>

    <div *ngIf="!producto.carrito">
      <button class="btn-add-cart" (click)="agregarAlCarrito(producto)">Agregar al carrito</button>
    </div>

    <div *ngIf="producto.carrito">
      <button class="btn-add-cart-disabled" (click)="eliminarDelCarrito(producto)">Agregar al carrito</button>
    </div>
  </div>
</div>