<div *ngIf="carrito.length === 0" class="empty-cart">
  <p> Tu carrito está vacío</p>
</div>


  <div class="product-exposition" >
    <div class="product-card" *ngFor="let producto of carrito; let i = index">
    <img [src]="producto.image" alt="{{ producto.title }}" class="product-image" />

    <div class="product-details">
      <h2 class="product-title">{{ producto.title }}</h2>
      <p class="product-category">{{ producto.category }}</p>
      <p class="product-description">{{ producto.description }}</p>
      <p class="product-price">\${{ producto.price }}</p>
    </div>

    <button class="remove-button" (click)="eliminarDelCarrito(i)">Eliminar</button>
  </div>
  
</div>

