<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>prueba</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">prueba</ion-title>
    </ion-toolbar>
  </ion-header>

  <img alt="imagen" width="300px" height="300px" [src]="srcImagen1">
  <ion-button (click)="prueba(3, 5)">Agregar</ion-button>

  <br>
  <ion-input [disabled]="activo" [(ngModel)]="dato">Input</ion-input>
  <ion-button (click)="inactivar()">Activar formulario</ion-button>

  <br>

  <ion-button (click)="imprimir()">Imprimir</ion-button>
</ion-content>
