<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>infoUsuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">infoUsuario</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- TWO WAY BINDING (los campos o inputs) -->
  <!-- Logo con property binding [] -->
  <!-- Nombre del logo interporlacion {} -->
  <!-- Imprimir los datos en la consola -->
  <!-- home dentro de page -->
  <div class="container-main">

    <h4>Router LINK</h4>
    <ion-button [routerLink]="['/home']">Direccionar page a otro</ion-button>
    <ion-button [routerLink]="['/home', 2]">Direccionar page a otro con parametros</ion-button>

    <h4>Router NAVIGATE</h4>
    <ion-button (click)="irAHome()">Direccionar page a otro</ion-button>
    <ion-button (click)="irAHomeParametros()">Direccionar page a otro con parametros</ion-button>
    <ion-button (click)="irAHomeQuery()">Direccionar page a otro con querys</ion-button>

    <div class="perfil-container">
      <img src="assets/perfil/perritos.jpg" alt="Perfil" class="perfil" />
    </div>

    <form>
      <div class="campo">
        <label for="input" class="text">Nombre:</label>
        <input type="text" placeholder={{nombre}} name="input" class="input" readonly="true">
      </div>

      <div class="campo">
        <label for="input" class="text">Apellido:</label>
        <input type="text" placeholder={{apellido}} name="input" class="input" readonly="true">
      </div>

      <div class="campo">
        <label for="input" class="text">Ciudad:</label>
        <input type="text" placeholder={{ciudad}} name="input" class="input" readonly="true">
      </div>

      <div class="campo">
        <label for="input" class="text">Fecha Nacimiento:</label>
        <input type="text" placeholder={{fechaNacimiento}} name="input" class="input" readonly="true">
      </div>

      <div class="campo">
        <label for="input" class="text">Celular:</label>
        <input type="text" placeholder={{celular}} name="input" class="input" readonly="true">
      </div>

      <div class="campo">
        <label for="input" class="text">Correo electronico:</label>
        <input type="text" placeholder={{correoElectronico}} name="input" class="input" readonly="true">
      </div>
    </form>
  </div>
</ion-content>